.site-header{
    background-color: #1bbc9b;
    color: black;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    padding: 25px;
}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
    box-shadow: #0d614f 2px 5px 5px;
}

body{
    margin: 0%;
}

a{
    text-decoration: none;
}